<div class="row">
  <div class="col-md-12 crawler-form">
    <%= form_tag '/' do %>
      <div class="form-row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <%= url_field_tag :domain, '', placeholder: 'https://example.com', class: 'form-control' %>
    </div>
    <div class="col">
      <%= submit_tag 'add domain', class: 'btn btn-primary' %>
    </div>
  </div>
    <% end %>
  </div>
</div>

<% if @website.present? %>
  <div class="row col-md-12">
    <div class="col-md-1"></div>
    <div class="col">
      <br>
      <b>URL:</b> <%= @website.host_url %>
      <br/>
      <b>Total Sub links:</b> <%= @website.total_sub_links %>
      <br>
      <b>Sub-links:</b>
      <ul>
        <% @website.sub_links.each do |link| %>
          <li><%= link_to link, (@website.host_url+link), target: '_blank' %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
